* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

button:focus {
  outline: none;
}

.loader {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  display: block;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader .box {
  width: 300px;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loader .box .heart {
  position: relative;
  margin: auto;
  height: 170px;
  width: 200px;
  -webkit-animation: animate 1s linear infinite;
          animation: animate 1s linear infinite;
}

.loader .box .heart::before, .loader .box .heart::after {
  content: "";
  position: absolute;
  background-color: #c0392b;
  width: 100px;
  height: 160px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.loader .box .heart::before {
  left: 100px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 14px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 14px 10px rgba(0, 0, 0, 0.22);
}

.loader .box .heart::after {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  60% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  60% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.product {
  margin-top: 20px;
}

.product .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  margin-bottom: 15px;
}

.product .container ul li {
  text-decoration: none;
  width: 24.9%;
  position: relative;
  padding-bottom: 10px;
  overflow: hidden;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.product .container ul li .item {
  display: block;
  overflow: hidden;
  background: #fff;
  padding: 10px 0;
}

.product .container ul li .item__info {
  text-align: center;
  display: block;
  overflow: hidden;
  background: #fff;
  padding: 10px 0;
}

.product .container ul li .item__info:hover > img {
  margin: 10px auto 40px;
}

.product .container ul li .item__info img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  margin: 25px auto;
  height: 200px;
  width: auto;
}

.product .container ul li .item__info h3 {
  line-height: 1.3em;
  font-size: 17px;
}

.product .container ul li .item__info .price {
  padding: 5px 10px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  font-size: 14px;
  color: #bf081f;
  line-height: 15px;
  font-weight: 700;
}

.product .container ul li .btnbuy {
  padding: 5px 70px;
  border: 2px solid #f76b1c;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: capitalize;
}

.product .container ul li .btnbuy:hover {
  background-color: #f76b1c;
  color: white;
}

.product .btnCart a {
  text-decoration: none;
}

.product .btnCart__cart {
  border: 2px solid #189eff;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.product .btnCart__cart:hover {
  background-color: #189eff;
  color: white;
}

.product .btnCart__cart .btnCart__text {
  color: #4a4a4a;
  height: 20px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  margin-left: 9px;
  font-size: 12px;
  font-weight: 700;
  background: #fdd835;
  border-radius: 2px;
  padding: 0px 6px;
}

.container--checkout {
  margin-top: 20px;
}

.container .checkout {
  margin-top: 10px;
  padding: 10px 10px;
  border-radius: 5px;
}

.container .checkout .empty {
  text-align: center;
  width: 100%;
  background: white;
  padding: 40px 20px;
  border-radius: 4px;
}

.container .checkout .empty .empty__img {
  width: 190px;
  font-size: 120px;
  color: #5499da;
}

.container .checkout .empty .empty__note {
  margin: 15px 0px 30px;
}

.container .checkout .empty .empty__btn {
  background-color: #fdd835;
  color: #4a4a4a;
  font-weight: 500;
  display: inline-block;
  padding: 10px 55px;
  border-radius: 4px;
}

.container .checkout .empty a {
  text-decoration: none;
}

.container .checkout .cart-inner {
  background: white;
  margin: 0px;
  border-radius: 4px;
}

.container .checkout .cart-inner .cart-prodcuts {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.container .checkout .cart-inner .cart-prodcuts li {
  margin-bottom: 10px;
}

.container .checkout .cart-inner .cart-prodcuts .cart-products__products {
  border-radius: 10px;
  padding: 20px;
}

.container .checkout .cart-inner .cart-prodcuts .cart-products__products .cart-products__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.container .checkout .cart-inner .cart-prodcuts .cart-products__products .cart-products__inner .cart-products__img {
  width: 130px;
  margin-right: 20px;
}

.container .checkout .cart-inner .cart-prodcuts .cart-products__products .cart-products__inner .cart-products__img img {
  display: block;
  width: 100%;
}

.container .checkout .cart-inner .cart-prodcuts .cart-products__products .cart-products__inner .cart-products__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: calc(100% - 130px);
}

.container .checkout .cart-inner .cart-prodcuts .cart-products__products .cart-products__inner .cart-products__content .cart-products__desc {
  width: 60%;
}

.container .checkout .cart-inner .cart-prodcuts .cart-products__products .cart-products__inner .cart-products__content .cart-products__desc .cart-products__name {
  color: #242424;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 10px;
}

.container .checkout .cart-inner .cart-prodcuts .cart-products__products .cart-products__inner .cart-products__content .cart-products__desc .cart-products__actions {
  margin: 15px 0px 0px;
}

.container .checkout .cart-inner .cart-prodcuts .cart-products__products .cart-products__inner .cart-products__content .cart-products__desc .cart-products__actions .cart-products__del {
  color: #1ba8ff;
  display: inline-block;
  margin-right: 20px;
  font-size: 13px;
  cursor: pointer;
}

.container .checkout .cart-inner .cart-prodcuts .cart-products__products .cart-products__inner .cart-products__content .cart-products__details {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.container .checkout .cart-inner .cart-prodcuts .cart-products__products .cart-products__inner .cart-products__content .cart-products__details .cart-products__pricess {
  text-align: right;
  margin-right: 25px;
}

.container .checkout .cart-inner .cart-prodcuts .cart-products__products .cart-products__inner .cart-products__content .cart-products__details .cart-products__pricess .cart-products__real-prices {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 700;
  display: inline-block;
}

.container .checkout .cart-inner .cart-prodcuts .cart-products__products .cart-products__inner .cart-products__content .cart-products__details .cart-products__qty .iaIXXn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-width: 1px;
  border-style: solid;
  border-color: #c8c8c8;
  -o-border-image: initial;
     border-image: initial;
  border-radius: 3px;
}

.container .checkout .cart-inner .cart-prodcuts .cart-products__products .cart-products__inner .cart-products__content .cart-products__details .cart-products__qty .iaIXXn .qty-decrease,
.container .checkout .cart-inner .cart-prodcuts .cart-products__products .cart-products__inner .cart-products__content .cart-products__details .cart-products__qty .iaIXXn .qty-increase {
  display: inline-block;
  color: #999999;
  cursor: pointer;
  border-right: 1px solid #c8c8c8;
  padding: 6px 12px;
}

.container .checkout .cart-inner .cart-prodcuts .cart-products__products .cart-products__inner .cart-products__content .cart-products__details .cart-products__qty .iaIXXn .qty-input {
  width: 35px;
  text-align: center;
  font-size: 13px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
  background: transparent;
  margin: 0px;
  line-height: 35px;
}

.container .checkout .cart-inner .cart-prodcuts .cart-products__products .cart-products__inner .cart-products__content .cart-products__details .cart-products__qty .iaIXXn .qty-increase {
  border-right: none;
  border-left: 1px solid #c8c8c8;
}

.container .checkout .cart-total-prices {
  width: calc(100% - 965px);
}

.container .checkout .cart-total-prices .cart__submit {
  color: white;
  text-align: center;
  width: 100%;
  display: block;
  cursor: pointer;
  background: #ff424e;
  padding: 13px 10px;
  border-radius: 4px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
  margin: 15px 0px;
}

.container .checkout .cart-total-prices .prices {
  background: white;
  border-radius: 4px;
}

.container .checkout .cart-total-prices .prices .prices__items {
  list-style: none;
  margin: 0px;
  padding: 17px 20px;
  border-bottom: 1px solid #f4f4f4;
}

.container .checkout .cart-total-prices .prices .prices__items .prices__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 10px;
}

.container .checkout .cart-total-prices .prices .prices__items .prices__item .prices__text {
  font-weight: 300;
  color: #333333;
  display: inline-block;
}
/*# sourceMappingURL=main.css.map */